.research_title,
.research_description {
  flex-basis: 0;
}

.research_description {
  justify-content: space-between;
  align-items: center;
}

.research_research {
  height: 80px;
  padding-top: 40px;
}

.research_spacer {
  flex: 1 1 auto;
}

.research_input {
  padding-right: 40px;
}

.research_expansion_panel {
  padding: 24px;
}