.research_title,
.research_description {
  flex-basis: 0;
}

.research_description {
  justify-content: space-between;
  align-items: center;
}

.research_research {
  padding-left: 40px;
}

.research_spacer {
  flex: 1 1 auto;
  height: 20px;
}