<mat-card *ngIf="m_country" class="detail_card">
  <mat-card-header class="detail_header">
    <mat-card-title>{{m_country.name}}</mat-card-title>
    <mat-card-subtitle>{{m_country.capital}}</mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo of the {{m_country.name}} flag" class="detail_image" mat-card-image src="{{m_country.flag}}">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Generals informations">
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">name : {{m_country.name}}</mat-list-item>
              <mat-list-item role="listitem">capital : {{m_country.capital}}</mat-list-item>
              <mat-list-item role="listitem">alpha 2 code : {{m_country.alpha2Code}}</mat-list-item>
              <mat-list-item role="listitem">alpha 3 code : {{m_country.alpha3Code}}</mat-list-item>
              <mat-list-item role="listitem">cioc : {{m_country.cioc}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">region : 
                <a mat-button routerLink="/research/region/{{m_country.region}}">{{m_country.region}}</a>
              </mat-list-item>
              <mat-list-item role="listitem">subregion : 
                <a mat-button routerLink="/research/subregion/{{m_country.subregion}}">{{m_country.subregion}}</a>
              </mat-list-item>
              <mat-list-item role="listitem">demonym : {{m_country.demonym}}</mat-list-item>
              <mat-list-item role="listitem">native name : {{m_country.nativeName}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Numbers">
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">area : {{m_country.area}}</mat-list-item>
              <mat-list-item role="listitem">cioc : {{m_country.cioc}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">gini : {{m_country.gini}}</mat-list-item>
              <mat-list-item role="listitem">numeric code : {{m_country.numericCode}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Details">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <div>top level domain :</div>
            <div *ngFor="let s of m_country.topLevelDomain" class="detail_details">{{s}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>calling codes :</div>
            <div *ngFor="let s of m_country.callingCodes" class="detail_details">{{s}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>alt spellings :</div>
            <div *ngFor="let s of m_country.altSpellings" class="detail_details">{{s}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>latitude/longitude :</div>
            <div *ngFor="let s of m_country.latlng" class="detail_details">{{s}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>timezones :</div>
            <div *ngFor="let s of m_country.timezones" class="detail_details">{{s}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>borders :</div>
            <a (click)="redirect(s)" *ngFor="let s of m_country.borders" class="detail_details" mat-button>{{s}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>currencies :</div>
            <div *ngFor="let s of m_country.currencies; let i = index" class="detail_details"><div *ngIf="i>0">,</div>{{s.code}}: {{s.name}}({{s.symbol}})</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>regional blocks :</div>
            <div *ngFor="let s of m_country.regionalBlocs; let i = index" class="detail_details"><div *ngIf="i>0">,</div>{{s.acronym}}: {{s.name}}</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>languages :</div>
            <div *ngFor="let s of m_country.languages; let i = index" class="detail_details"><div *ngIf="i>0">,</div>{{s.name}}({{s.nativeName}}, {{s.iso639_1}}, {{s.iso639_2}})</div>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>translations :</div>
            <div class="detail_details">de: {{m_country.translations.de}}, es: {{m_country.translations.es}}, fr: {{m_country.translations.fr}}, ja: {{m_country.translations.ja}}, it: {{m_country.translations.it}}, br: {{m_country.translations.br}}, pt: {{m_country.translations.pt}}, nl: {{m_country.translations.nl}}, hr: {{m_country.translations.hr}}, fa: {{m_country.translations.fa}}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-button routerLink="/research">GO BACK</button>
  </mat-card-actions>
</mat-card>
