<mat-card *ngIf="m_country" class="detail_card">
  <mat-card-header class="detail_header">
    <mat-card-title>{{m_country.name}}</mat-card-title>
    <mat-card-subtitle>{{m_country.capital}}</mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo of the {{m_country.name}} flag" class="detail_image" mat-card-image src="{{m_country.flag}}">
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Generals informations">
        <mat-grid-list cols="2" rowHeight="1:1">
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">Name : {{m_country.name}}</mat-list-item>
              <mat-list-item role="listitem">Capital : {{m_country.capital}}</mat-list-item>
              <mat-list-item role="listitem">Alpha 2 code : {{m_country.alpha2Code}}</mat-list-item>
              <mat-list-item role="listitem">Alpha 3 code : {{m_country.alpha3Code}}</mat-list-item>
              <mat-list-item role="listitem">
                <div>calling codes :</div>
                <div *ngFor="let s of m_country.callingCodes">{{s}}</div>
              </mat-list-item>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-list role="list">
              <mat-list-item role="listitem">Numeric code : {{m_country.numericCode}}</mat-list-item>
              <mat-list-item role="listitem">Demonym : {{m_country.demonym}}</mat-list-item>
              <mat-list-item role="listitem">Native name : {{m_country.nativeName}}</mat-list-item>
              <mat-list-item role="listitem">Gini : {{m_country.gini}}</mat-list-item>
              <mat-list-item role="listitem">Cioc : {{m_country.cioc}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Details">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <div>Top level domain :</div>
            <a mat-button *ngFor="let s of m_country.topLevelDomain" routerLink="/research/topLevelDomain/{{m_country.topLevelDomain}}">{{s}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Alt spellings :</div>
            <a mat-button *ngFor="let s of m_country.altSpellings" routerLink="/research/altSpellings/{{s}}">{{s}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Currencies :</div>
            <a mat-button *ngFor="let s of m_country.currencies" routerLink="/research/currencies/{{s.toString()}}">{{s.toString()}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Languages :</div>
            <a mat-button *ngFor="let s of m_country.languages" routerLink="/research/languages/{{s.toString()}}">{{s.toString()}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Translations :</div>
            <div>{{m_country.translations.toString()}}</div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Geo informations">
        <mat-list role="list">
          <mat-list-item role="listitem">Area : {{m_country.area}}</mat-list-item>
          <mat-list-item role="listitem">
            <div>Region :</div>
            <a mat-button routerLink="/research/region/{{m_country.region}}">{{m_country.region}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Subregion :</div>
            <a mat-button routerLink="/research/subregion/{{m_country.subregion}}">{{m_country.subregion}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Latitude/longitude :</div>
            <a mat-button *ngFor="let s of m_country.latlng" routerLink="/research/latlng/{{s.toString()}}">{{s.toString()}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Timezones :</div>
            <a mat-button *ngFor="let s of m_country.timezones" routerLink="/research/timezones/{{s.toString()}}">{{s}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Borders :</div>
            <a mat-button *ngFor="let s of m_country.borders" routerLink="/detail/{{s}}">{{s}}</a>
          </mat-list-item>
          <mat-list-item role="listitem">
            <div>Regional blocks :</div>
            <a mat-button *ngFor="let s of m_country.regionalBlocs" routerLink="/research/regionalBlocs/{{s.toString()}}">{{s.toString()}}</a>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary" mat-button routerLink="/research">GO BACK</button>
  </mat-card-actions>
</mat-card>
