<div *ngIf="m_objects">
  <mat-toolbar class="research_research">
    <mat-form-field class="research_selector">
      <mat-select [(value)]="m_selected" placeholder="Research by" (selectionChange)="applyFilter()">
        <mat-option value="name">name</mat-option>
        <mat-option value="capital">capital</mat-option>
        <mat-option value="alpha2Code">alpha2Code</mat-option>
        <mat-option value="alpha3Code">alpha3Code</mat-option>
        <mat-option value="region">region</mat-option>
        <mat-option value="subregion">subregion</mat-option>
        <mat-option value="population">population</mat-option>
        <mat-option value="demonym">demonym</mat-option>
        <mat-option value="area">area</mat-option>
        <mat-option value="gini">gini</mat-option>
        <mat-option value="nativeName">native name</mat-option>
        <mat-option value="numericCode">numeric code</mat-option>
        <mat-option value="cioc">cioc</mat-option>
        <mat-option value="topLevelDomain">top level domain</mat-option>
        <mat-option value="callingCodes">calling codes</mat-option>
        <mat-option value="altSpellings">alt spellings</mat-option>
        <mat-option value="latlng">latitude/longitude</mat-option>
        <mat-option value="timezones">timezones</mat-option>
        <mat-option value="borders">borders</mat-option>
        <mat-option value="currencies">currencies</mat-option>
        <mat-option value="languages">languages</mat-option>
        <mat-option value="translations">translations</mat-option>
        <mat-option value="regionalBlocs">regional blocs</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="legacy" class="research_input">
      <mat-label>Research</mat-label>
      <input (keyup)="applyFilter()" [(ngModel)]="m_research" matInput placeholder="{{m_selected}}">
      <mat-icon matSuffix svgIcon="search"></mat-icon>
    </mat-form-field>
  </mat-toolbar>
  <div *ngIf="m_filterObjects" class="research_panel">
    <mat-table [dataSource]="m_filterObjects" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"><a mat-button routerLink="/detail/{{row.alpha3Code}}">{{row.name}}</a></mat-cell>
      </ng-container>
      <ng-container matColumnDef="detail">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{m_selected == 'name' ? '' : 'Detail'}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{m_selected == 'name' ? '' : row[m_selected]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="m_displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: m_displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="m_length" [pageSize]="m_pageSize" [pageSizeOptions]="m_pageSizeOptions" (page)="m_pageEvent = $event; applyFilter()"></mat-paginator>
  </div>
</div>
